/node_modules
/metadata
/metadata20
/metadata1155
.env
notes.md
.DS_Store

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
